.com_briefcasefactory a i[class^="factory-icon"] {
  margin-right: 5px;
  vertical-align: text-top;
}

.com_briefcasefactory a {
  text-decoration: none;
}

.com_briefcasefactory a.btn {
  color: #333333;
}

.com_briefcasefactory a.btn-success {
  color: #ffffff;
}

.com_briefcasefactory .small i[class^="factory-icon"] {
  vertical-align: middle;
}
