
.module.latestbusiness-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCCCF;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #FFFFFF inset;
 	padding: 10px;
}

.module.latestbusiness-box {
    background: none repeat scroll 0 0 #E0E2E4;
    border-color: #CFD0D1;
    box-shadow: 0 1px 0 #FFFFFF, 0 2px 3px rgba(0, 0, 0, 0.06) inset, 0 0 2px rgba(0, 0, 0, 0.04) inset;
    color: #444444;
    display: block;
    text-shadow: 0 1px 0 #FFFFFF;
}


.latestbusiness .business-logo{
	box-shadow: 0 2px 5px #333;
    float: left;
    margin: 0 15px 11px 0;
    max-width: 50px;
    padding: 2px;
    width: 20%;
}

.latestbusiness .business-logo img{
	width: 100%;
}

.latestbusiness li{
	display: block;
	clear: both;
	margin-bottom: 5px;
}

.latestbusiness ul{
	margin: 0;
}

.latestbusiness a.company-name{
	display: block;
	margin-bottom: 5px;
	line-height: 13px;
	font-size: 13px;
} 

.company-box{
	margin-bottom: 25px;
	text-align: center;
	width: 220px;
	float: left;
	margin-left: 15px;
}

.company-box .company-info{
	background: #FFFFFF;
}

.company-box p{
	margin: 0;
}

.company-box a.company-name{
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	margin: 0;
	float: none;
}

.company-box .company-options{
	background-color: #E7E7E7;
	padding: 5px 10px;
}

.latestbusiness .company-address{
	font-size: 13px;
	line-height: 12px;
	display: block;
	padding: 5px 0;
}

.latestbusiness .company-info{
	line-height: 12px;
	min-height: 110px;
	font-size: 12px;
	padding: 5px 15px;
}

.latestbusiness .dir-category{
	diplay: block;
}

.full-width-logo{
   background-color: #EAEAEA;
}

.full-width-logo img{
	width: 100%;
}

.company-box{
	
}